
# Composer files
composer.phar
vendor/
public/components/
public/uploads/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/DoctrineORMModule/
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#PhpStorm
.idea/

